/*SASS PATH: components/widgets/papular-posts*/
.papular-posts{
	li {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	@at-root .like{
		position: relative;
		color: $color1;
		&::before {
			font-family: fontawesome;
			content: "\f164 ";
			margin-right: 5px;
		}
	}
}
