.home-body {
	.home-title {
		line-height: 1.5em;
		margin: 1em auto;
		@include media-breakpoint-down(sm){
			font-size: 1.5em;
			br {
				display: none;
			}
		}
	}
	.cat-all {
		@include media-breakpoint-down(sm){
			flex-direction: column;
			.line {
				margin: .6em auto;
			}
		}
		margin-bottom: $Space;
		.line {
			margin: 0 1em;
		}
		a {
			color: $white;
		}
	}
	.home-cat-boxes {
		.col-lg-3 {
			margin-bottom: 1.875em;
		}
		.page-type{
			background: {
				color: #eaedf3;
			}
			p {
				margin-bottom: 2.3em;
			}
		}
		@at-root .cat-item {
			height: 100%;
			border: 1px solid $borderColor1;
			border-radius: $radius1;
			padding: 2.3em 1.8em;
			.fa {
				color: $color1;
				font-size: 2em;
				margin: .5em auto;
			}
			.cat-title a{
				display: inline-block;
				color: $text1;
			}
			.cat-body li{
				display: inline-block;
				color: $color2;
				line-height: 2em;
				a {
					display: inherit;
					color: inherit;
				}
			}
		}
	}//home-cat-boxes
	.home-blog {
		img{
			@include border-radius($radius1);
		}
		.date{
			display: block;
			margin: 1em auto;
			font-size: .813em;
			font-weight: bold;
			color: $text2;
		}
		.blog-title {
			color: $text1;
			font-size: 1.4em;
			a{
				color:inherit;
				display: block;
			}
		}
		.more-link {
			margin: $Space auto;
			a {
				padding: .5em 2em;
			}
			.first {
				margin-left: 1em;
			}
			.last{
				margin-right: 1em;
			}
		}
	}
}