//main colors
$color1: #40b1c2;
$color2: #d2515a;
$primary: $color1;
//text colors
$text1: #232429;
$text2: #a6a9b7;
//border color 
$borderColor1: #e9e9e9;
//footer color
$footerColor: #d4dce8;
$footerTopBg: #34353c;
$footerBg: #232429;
//fonts names
$mainFont: Sahel;
//border radius
$radius1: 4px;
$radius2: 10px;
$radius3: 15px;
$radius4: 25px;
$btn-border-radius: $radius4;
//headers
$headings-margin-bottom: .8em;
$headings-font-family: $mainFont;
$headings-line-height: 1.4em;
$headings-color: $text1;
//spaces
$Space: 2.2em;
